#center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.linkto {
  position: absolute;
  top: 110%;
  left: 39.5%;
  padding: 5px;
  margin-top: -30px;
  margin-left: -50px;
  width: 100px;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.tablestyle {
  margin-right: auto;
  margin-left: auto;
}

table {
  border-collapse: collapse;
  text-align: center;
}

table,
td {
  border: 1px solid black;
}

.im {
  position: relative;
}

p {
  font-size: large;
  text-align: center;
  position: sticky;
  font-weight: bold;
}

h1 {
  font-style: italic;
  font-size: 60px;
  text-align: center;
  color: red;
  position: sticky;
}

h2 {
  font-style: italic;
  font-size: 50px;
  padding: 1%;
  text-align: center;
  color: aquamarine;
}

picture {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
}