@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    margin: 0px;
	width: 100%;
	height:100%;
	font-family: 'Raleway', sans-serif;
	background: #092756;
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(93, 119, 131, 0.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(111, 142, 155, 0.4) 10%,rgba(136, 114, 79, 0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(94, 120, 131, 0.4) 10%,rgba(129, 109, 76, 0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(83, 106, 116, 0.4) 10%,rgba(139, 117, 80, 0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(92, 118, 129, 0.4) 10%,rgba(131, 109, 74, 0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}


/* get rid of the hr */
hr {
    display: block;
    unicode-bidi: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    overflow: hidden;
    border-style: none;
    border-width: 0;
}

/* navigation bar styling */

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #24252A;
    padding: 20px 5%;
}

.navbar a, button {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    color: #edf0f1;
    text-decoration: none;
    cursor: pointer;
    margin-right: auto;
}

.page-links {
    list-style: none;
}

.page-links li {
    display: inline-block;
    padding: 0px 20px;
}

.page-links li a {
    transition: all 0.3s ease 0s;
}

.page-links li a:hover {
    color: #0088a9;
}

.login-button button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
}

.login-button button:hover {
    background-color: rgba(0,136,169,0.7);
}


