{% extends "base.html" %}

{% block content %}

    <link href="{{ url_for('static', filename='css/account.css') }}" rel="stylesheet">


    <!-- bar at the top of body-->
    <div class="page-bar"></div>
    <!-- body content -->
    <div class="page-div">
        <h1> Account page </h1>
        <h1>Hi, {{ current_user.username }}!</h1>

        {%if result%}
            <h3>the player's result: </br>
                You got a score of {{result}} out of {{count}} ({{percentage}}%) for the short answers
            </h3>
        {% else %}
            <h3>the player's result: </br>
                you have not done the quiz yet!
            </h3>
        {% endif %}


        {% if not quizincompleteflag %}
            {% if markflag%}
                <!-- Score -->
                <h3>your long answer questions have been reviewed: </br>
                    you got a score of {{mark}} out of {{question_mark}} ({{long_percentage}}%)
                </h3>
                <!-- present all the long answer responses -->
                {%for answer in long_responses%}
                    <div class="long-response">
                        {% if answer.response %}
                            <h3> for question:  <mark><b>{{answer.long_question.question_body}}</b></mark> </br>
                                your response from the admin is: </br>
                                <mark><b>{{answer.response}}</b></mark>
                            </h3>
                        {% endif %}
                    </div>
                {% endfor %}

            {%else%}
                <div id="feedbackform">
                <h3>Your long answer questions are currently under review by the admin <br>
                    please leave a feedback while waiting!:<br> </h3>

                    <form action="", method="post" onsubmit="feedbacksubmit()">
                        <h2><label for="feedback">Please leave feedback in the form below:</label></h2>
                        <textarea rows="8" cols="60" name="feedback" id ="feedback" required></textarea>
                        <div class="submit-btn">
                            <input type="submit" value="submit">
                        </div>
                    </form>
                </div>
            {% endif %}
        {%else%}
        {% endif %}
    </div>



    <script type="text/javascript" src="{{ url_for('static', filename='js/account.js') }}"></script>
{% endblock %}

