{% extends "base.html" %}

{% block content %}

    <link href="{{ url_for('static', filename='css/quiz.css') }}" rel="stylesheet">

    <!-- bar at the top of body-->
    <div class="page-bar"></div>
    <!-- body content -->
    <div class="page-div">

        <h1> Begin the Quiz! </h1>

        <!-- display all elements of the quiz -->
        {% set counter = 0 -%}
        <form action="", method="post">
            <!-- multiple choice questions displayed first -->
            {%for question in short_questions%}
            <div class="question-body">
                <h2 class="question-h2">{{question.question_body}}</h2>
                <div class="all-options">
                    {%for option in question.options%}
                        <input type="radio" name = "{{question.id}}" id="{{option.id}}" value="{{option.option_body}}" required>
                        <label for="{{option.id}}"> {{option.option_body}} </label> <br>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            <!-- long answer questions displayed at the bottom of the page -->
            {%for question in long_questions%}
                <div class="question-body">
                    <h2><label for="{{question.id}}">{{question.question_body}}</label></h2>
                    <div class="all-options">
                        <textarea rows="4" cols="50" name="{{question.id}}" id ="{{question.id}}" required></textarea>
                    </div>
                </div>
            {% endfor %}
            </br>
            </br>

            <div class="submit-btn">
                <input type="submit" value="submit">
            </div>
        </form>
    </div>

{% endblock %}